setuptools
wheel
scikit-build
pyserial
opencv-python
pycrc
pyvesc @ git+https://github.com/LiamBindle/PyVESC.git
pyrealsense2
scikit-learn
scikit-image
flask
scikit-image
torch==2.3.1
torchvision==0.18.1
ultralytics
pickle5