setuptools
wheel
scikit-build
pyserial
opencv-python
pycrc
pyvesc @ git+https://github.com/LiamBindle/PyVESC.git
pyrealsense2
scikit-learn
scikit-image
flask
scikit-image
ultralytics
--index-url https://download.pytorch.org/whl/cu121
torch==2.3.1
torchvision